@using BOL;
@{
    ViewData["Title"] = "Home Page";
}

<h1>In Index</h1>

<div>
    <h2>List of  Player</h2>
    @{
        List<Players> allply= (List<Players>)ViewData["index"];
        <ol>
            @foreach( Players dept in allply){
                
                <li><a href="/Player/Display/@dept.Id">@dept.Name</a></li>
            }
        </ol>    
    }
    <div>
       <a  href="/Player/Insert"> Insert data</a>

    </div>
</div>
