<form action="/Auth/Register" method="post">
 

  <div class="container">
    <label for="id"><b>id : </b></label>
    <input type="text" placeholder="Enter Username" name="id" required>

    <label for="name"><b> Name :</b></label>
    <input type="text" placeholder="Enter name" name="name" required>
        
     <label for="city"><b> City :</b></label>
    <input type="text" placeholder="Enter city" name="city" required>
     
    <button type="submit">Login</button>
    
  </div>

  
</form>
